= form_with model: @product, local: true do |f|
  .container.mb-5(style="max-width: 540px")
    - if @product.errors.any?
      %p
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg

    .form-row
      .form-group.col-12
        = f.label :title
        = f.text_field :title, class: 'form-control', required: true

      .form-group.col-12
        = f.label :description
        = f.text_area :description, class: 'form-control'

      .form-group.col-12
        = f.label :price_cents
        = f.text_field :price_cents, class: 'form-control'

      .form-group.col-12
        = f.label :expires_at
        .form-row
          = f.date_select :expires_at, { use_short_month: true, start_year: Date.today.year, end_year: Date.today.year + 1 }, class: 'form-control col ml-1 mr-1', required: true

      .form-group.col-12
        = f.submit 'Save', class: 'btn btn-outline-primary'