.wrapper
  %h1 Products

  %p= link_to 'Add new', new_product_path, class: 'button'

  .cards
    - @products.each do |product|
      .card
        .card-header= product.title
        .card-copy
          %p= "$#{product.price}"
          %p= product.description
          %p= link_to 'View', product_path(product), class: 'button'