.jumbotron
  %h1= @product.title
  %p= link_to 'Back', root_path, class: 'btn btn-outline-dark'

.container.mb-5(style="max-width: 540px")
  .card
    .card-body
      %h5.card-title= @product.title
      
      %h6.card-subtitle.mb-2= "$#{@product.price}"
      %p.card-text= @product.description
      %p.hidden= @product.expires_at

      = render 'photos_grid'

      %p.hidden
        = link_to 'Edit', edit_product_path(@product), class: 'btn btn-outline-primary'
        = link_to 'Delete', product_path(@product), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }