<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Organa
    
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'false'

  %body
    %ul.nav.justify-content-end
      - if user_signed_in?
        %li
          = link_to current_user.email, current_user
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Login', new_user_session_path

    - if notice.present?
      .alert.alert-warning
        = notice
    
    - if alert.present?
      .alert.alert-danger
        = alert
    = yield